body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
    margin: 0;
}

p {
	margin: 20px 0;}


#wrapper {
	max-width: 960px;
	margin: auto;
}

header {
	padding: 20px 0;
}

aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
}
footer {
   display: block;
   text-align: center;
}
.myphoto {
    width: 150px;
	margin-left: 280px;
}
.morph img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}.morph img:hover {
	border-radius: 50%;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	}